body
{
    font-family: 'Lobster', cursive;
    font-size: 16px;

    background: #1f1f1f;
}
span
{
    font-size: 1.5em;
    
}
.well
{
    background: #8d8d8d;
}
tr
{
    border: 2px solid rgba(0,0,0,.5);
}
h1
{
    font-size: 5em;

    margin-top: 1%;

    text-align: center;
    letter-spacing: 20px;

    color: #afdfe9;
    text-shadow: 3px 3px 0 #2c2e38, 5px 5px 0 #5c5f72;
    text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 0 #555, 0 6px 0 #444, 0 7px 0 #333, 0 8px 7px #001135;
}
.formcontrol
{
    font-size: 1.5em;

    display: block;

    width: 100%;
    margin-bottom: 1%;
    padding: 1%;

    text-transform: uppercase;

    color: #666;
}
#todolist
{
    list-style-type: none;
}
.checkbox
{
    font-family: 'Play', sans-serif;
    font-size: 1.2em;

    padding: 1%;

    letter-spacing: 1px;

    border-radius: 10px;
    background: #6a77a1;
}
.upper
{
    text-transform: uppercase;
}
.tododone
{
    text-decoration: line-through;
}
label
{
    width: 100%;
}

.menu{
    float: right;
}
.logout {
    float:right;
    
}
p{
    display: inline-block;
    float: left;
    margin:2% 0;
}
a{
    font-size: 1.5em;
    color: #3c212d;
}
a:hover{
    text-decoration: none;
    color: #000;
}